(
    modifiers: [
        {Fill: "empty"},
        {Fill: "ground", max_z: "30"},

        
        {Cellular: (if_ty: "empty", neighbor_ty: ["ground"], threshold: "1", new_ty:"mesa"), noise_threshold: "0", noise_scale:"0.1"},

        {Cellular: (if_ty: "empty", neighbor_ty: ["mesa"], threshold: "1", new_ty:"mesa"), tile_prob:"0.5", iterations:"4"},
        {Cellular: (if_ty: "empty", neighbor_ty: ["mesa"], threshold: "1", new_ty:"mesa"), iterations:"1"},

        {Cellular: (if_ty: "empty", neighbor_ty: ["mesa"], threshold: "1", new_ty:"mesa2"), noise_threshold: "0", noise_scale:"0.05"},

        {Cellular: (if_ty: "empty", neighbor_ty: ["mesa2"], threshold: "1", new_ty:"mesa2"), tile_prob:"0.5", iterations:"4"},
        {Cellular: (if_ty: "empty", neighbor_ty: ["mesa2"], threshold: "1", new_ty:"mesa2"), iterations:"1"},

        {Cellular: (if_ty: "empty", neighbor_ty: ["mesa2"], threshold: "1", new_ty:"mesa3"), noise_threshold: "0", noise_scale:"0.05"},

        {Cellular: (if_ty: "empty", neighbor_ty: ["mesa3"], threshold: "1", new_ty:"mesa3"), tile_prob:"0.5", iterations:"4"},
        {Cellular: (if_ty: "empty", neighbor_ty: ["mesa3"], threshold: "1", new_ty:"mesa3"), iterations:"1"},

        {Worm: (starting_ty: "ground", len: "1000", trail: "tunnel", radius: "5", steering_strength: "0.1"), min_z: "2"},
        {Worm: (starting_ty: "tunnel", len: "1000", trail: "tunnel", radius: "8", steering_strength_x: "0.05", steering_strength_y: "0.05", steering_strength_z: "0.005"), iterations:"4", min_z: "2"},
        {Replace: ("tunnel", "empty") },


        {Cellular: (if_ty: "empty", neighbor_ty: ["ground"], threshold: "3", new_ty:"empty"), tile_prob: "0.5", iterations: "5", min_z: "2"},

        {Replace: ("mesa", "ground2")},
        {Replace: ("mesa2", "ground2")},
        {Replace: ("mesa3", "ground2")},

        {Cellular: (if_ty: "ground", neighbor_ty: ["empty"], threshold: "1", new_ty:"ground2") },
        {Cellular: (if_ty: "ground", neighbor_ty: ["ground2"], threshold: "1", new_ty:"ground2"), tile_prob: "0.5", iterations: "5"},


        {Cellular: (if_ty: "empty", neighbor_ty: ["ground2"], threshold: "1", new_ty:"moss"), tile_prob: "0.01"},
        {Cellular: (if_ty: "empty", neighbor_ty: ["moss"], threshold: "1", new_ty:"moss"), tile_prob: "0.05", iterations: "3"},
    ]
)
